{% extends 'bootstrap/base.html' %}
    {% block title %}
    Monterey Restaurant Finder
    {% endblock %}
{% block content %}

<div style="background: #D0D0D0;">
<div class="container">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/place/details/output?parameters&key=AIzaSyD-zWRdiOmNswq-0TETR3a56aONSJxsbnY"></script>
    <center><img src="https://orig00.deviantart.net/efb7/f/2011/349/7/e/food_logo_by_imattthew-d4j637c.jpg" alt="logo"></center>
    <h1><center>Monterey Restaurant Finder!</center></h1>
    <h3><center><form method="POST" action="/submit">
        {{ form.cuisines }}
        {{ form.submit }}
    </form></center><h3>
    <h3><center>Minimum Average Review</center><h3>
    <h1><center>1 2 3 4 5</center><h1>
    <form method="POST" action="test">
            <input type="range" id="rangeInput" name="rangeInputn" min="0" max="4" name="name_of_slider" />
            <p class="rangeLabel selected">Label A</p>
            <p class="rangeLabel">Label B</p>
            <p class="rangeLabel">Label C</p>
            <p class="rangeLabel">Label D</p>
    </form>
</div>
</div>
                      {% endblock %}