{% extends 'bootstrap/base.html' %}
    {% block title %}
    Monterey Restaurant Finder
    {% endblock %}
{% block content %}

<head>
    <style>
        body {background-color:#D0D0D0;}
    </style>
</head>
<body>
    <h2 style="padding: 200px;"></h2>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/place/details/output?parameters&key=AIzaSyD-zWRdiOmNswq-0TETR3a56aONSJxsbnY"></script>
        <center><img src="https://orig00.deviantart.net/efb7/f/2011/349/7/e/food_logo_by_imattthew-d4j637c.jpg" alt="logo"></center>
        <h1><center>Monterey Restaurant Finder!</center></h1>
        <h3><center><form method="POST" action="/submit">
            {{ form.cuisines }}
            {{ form.submit }}
        <form method="POST" action="test">
    </div>
</div>
</form>
</body>
                      {% endblock %}