{% extends 'bootstrap/base.html' %}
	{% block title %}
 	Found By Cuisine
    {% endblock %}
 
 {% block content %}
<style> 
    h1 {
        border: 5px dotted black;
        background-color:#FFF;
    }
    h4 {
        padding: 5px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    body {
        background-color:#D0D0D0;
    }

    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .h3indent{
        text-indent: 108px;
    }

    #sizing{
        max-height: 30%;
        max-width: 100%; 
    }
</style>

<h1><center><u> {{ results.name }} </u></center></h1>

<body> 
<div class="container"> 
    <h4><a href="/">Go Back</a></h4> 
    <div class="column"> 
        <img id="sizing" src="{{ results.image_url }}" alt="picture" style="width:100% padding-left: 10px">
        <!-- photos[0] --> 
    </div>
    <div class="column">
        <h3> Address: {{ results.location.display_address[0] }} </h3>
        <h3 class="h3indent"> {{ results.location.display_address[1] }}</h3>
        <h3 class="h3indent"> {{ results.location.display_address[2] }}</h3>
        <h3> Phone: {{ results.display_phone }} </h3> 
        <h3> Rating: {{ results.rating }} </h3>
        <h3> Price: {{ results.price }} </h3>  
        <h3><a href= " {{ results.url }} " target="_blank"> '{{ results.name }}' Reviews</a></h3>  
    </div>

    <br/> 
    <center><iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDOXru0hWfss_JVa3sD0GJ5NxgoVH_X2E&q={{results.name}},Monterey+CA" allowfullscreen></iframe></center>
</div>
</div>
</body> 

{% endblock %}
