{% extends 'bootstrap/base.html' %}
                      {% block title %}
                        Found By Cuisine
                      {% endblock %}
                      {% block content %}

<head>
    <style>
        body {background-color:#D0D0D0;}
    </style>
</head>
<body>
    <h1>{{ cuisine }}</h1>
    <img src="https://www.yelp.com/biz_photos/la-mia-cucina-pacific-grove?select=FqGkW0WSgL0TWgfCUFsMdw" alt="picture">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ4RtxuqDkjYAR1gn5XbknKMI&key=AIzaSyBk3v4loCpNpihfa0iiE7szHMb9b7bnTYU" allowfullscreen>
    </iframe>
</body>
                        {% endblock %}